//==========================================================================
//  Theme
//==========================================================================

// A mixin is used to define different theme configurations, if the theming doesn't need to be content managed.
// A class is required on the body to match the required colour theme. The fallback is to omit the class name and just use the first 2 arguments.
// The necessary functions can then be processed in one place
// If theming does need to be content managed copy the selectors below and use !important on a page template. Also change "%" to "."
// The "%" works as a placeholder selector.

// Use this in your styles by using "@extend %theme-color" etc

@mixin theme(
	$theme-color,
	$theme-background,
	$theme-body-class: "body"
) {

	$selector-type: unquote(".");

	@if $theme-body-class == "body" {
		$selector-type: unquote("");
	}

	#{$selector-type + $theme-body-class} {

		// Items that require theming will be placed in here, nested inside the body-class. You may add selectors and functions if $theme-color needs to be manipulated
		&%theme-color,
		&%theme-color-hover:hover,
		&%theme-color-before::before,
		&%theme-color-after::after,
		%theme-color,
		%theme-color-hover:hover,
		%theme-color-before::before,
		%theme-color-after::after {
			color: $theme-color;
		}

		&%theme-background,
		&%theme-background-hover:hover,
		&%theme-background-before::before,
		&%theme-background-after::after,
		%theme-background,
		%theme-background-hover:hover,
		%theme-background-before::before,
		%theme-background-after::after {
			background-color: $theme-background;
		}

		&%theme-border,
		&%theme-border-hover:hover,
		&%theme-border-before::before,
		&%theme-border-after::after,
		%theme-border,
		%theme-border-hover:hover,
		%theme-border-before::before,
		%theme-border-after::after {
			border-color: $theme-color;
		}
	}
}
