//==========================================================================
//	Variables for setting up how the site works
//==========================================================================

$debug-layout: false; // Uses Pesticide library
$debug-markup: false; // Uses modified inuit.css debugger

//==========================================================================
//	Spacing units and breakpoints
//==========================================================================

$max-site-width: 960px;
$site-gutters: 20px;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

$mq-breakpoints: (
	mob: 300px,
	tab: 600px,
	desk: 960px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false' ... mq-fallback).
// It also sets the width to start if no tablet layout is present.
$mq-static-breakpoint: desk;

$base-font-size: 16px;
$base-line-height: 24px;
$base-spacing-unit: 10px;

//==========================================================================
//	Fonts
//==========================================================================

$heading-font-stack: arial, sans-serif;
$default-font-stack: $heading-font-stack;

// Don't change the $key (h1 - h6) on this map. Required for the inner workings of the headings loop in type.scss
$headings: (
	default: (
		h1: (
			font-size: 30px,
			line-height: 30px
		),
		h2: (
			font-size: 25px,
			line-height: 50px
		),
		h3: (
			font-size: 22px,
			line-height: 30px
		),
		h4: (
			font-size: 20px,
			line-height: 30px
		),
		h5: (
			font-size: 18px,
			line-height: 30px
		),
		h6: (
			font-size: 16px
		)
	),
	// Responsive Example
	mob: (
		h1: (
			font-size: 32px,
			line-height: 38px
		),
		h2: (
			font-size: 22px,
			line-height: 26px
		),
		h3: (
			font-size: 22px,
			line-height: 26px
		),
		h4: (
			font-size: 22px,
			line-height: 26px
		)
	)
);


//==========================================================================
//	Framework list extensions
//==========================================================================

// Pop them in here

//==========================================================================
//	Colour settings
//==========================================================================

$colors: (
	"body-color": null,
	"copy-color": #333,
	"border-color": #ccc,
	"default-selection-color": #b3d4fc
);
