//===========================================================================
//	Helper classes
//===========================================================================


// Image replacement
// Specify the height and width of the background image.
// Content will then be forced underneath the image and visually hidden for screen users.

.ir {
	@include image-replacement;
}

.visuallyhidden {
	@include visuallyhidden;
}

.visuallyhidden-focusable {
	@include visuallyhidden-focusable;
}

.invisible {
	visibility: hidden;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

@include responsive-class-generator {
	@include hide($_bp-name);
}

