/*doc
---
title: Description
name: a-block-format
category: Structure - Block format
---

Block formatting contexts are useful for creating common design patterns such as the media object pattern.
They can be infinitely nested and can save hundreds of lines of code.

Block formatting contexts prevent the fluid content from wrapping the floated content.

It includes responsive prefixes so block formatting context can be added for specific layouts if required.

###Links
[Block formatting contexts](http://www.yuiblog.com/blog/2010/05/19/css-101-block-formatting-contexts/)
[Media object](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)

*/

/*doc
---
title: Left aligned image
name: b-left-block-format
category: Structure - Block format
---

```html_example

<div class="clearfix" style="max-width: 600px; border: 1px solid red;">

	<div class="block-format-left">
		<img src="http://placehold.it/250x150" alt="">
	</div>


	<div class="block-format-fluid">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore explicabo animi harum voluptatem saepe modi cum necessitatibus placeat aliquid? Quos cupiditate sit eaque harum nulla, modi aliquam consectetur facere, omnis, tempora optio, rem. Optio omnis voluptas dolores reprehenderit rerum dolor dolorem blanditiis adipisci, neque at illo modi tenetur quae earum facere fugiat aut accusantium. Inventore, error! Magni dolorem eum ullam accusantium, corporis voluptatum recusandae molestias nesciunt cum iste. Dolore dolores vel culpa obcaecati, deleniti soluta saepe ipsum repudiandae cum quod numquam quasi voluptatibus ut, iusto inventore id officia. Eos dicta delectus soluta doloremque ratione voluptas ducimus praesentium quae dolorum numquam.</p>
	</div>

</div>


```

*/

/*doc
---
title: Right aligned image
name: c-right-block-format
category: Structure - Block format
---

```html_example

<div class="clearfix" style="max-width: 600px; border: 1px solid red;">

	<div class="block-format-right">
		<img src="http://placehold.it/250x150" alt="">
	</div>


	<div class="block-format-fluid">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore explicabo animi harum voluptatem saepe modi cum necessitatibus placeat aliquid? Quos cupiditate sit eaque harum nulla, modi aliquam consectetur facere, omnis, tempora optio, rem. Optio omnis voluptas dolores reprehenderit rerum dolor dolorem blanditiis adipisci, neque at illo modi tenetur quae earum facere fugiat aut accusantium. Inventore, error! Magni dolorem eum ullam accusantium, corporis voluptatum recusandae molestias nesciunt cum iste. Dolore dolores vel culpa obcaecati, deleniti soluta saepe ipsum repudiandae cum quod numquam quasi voluptatibus ut, iusto inventore id officia. Eos dicta delectus soluta doloremque ratione voluptas ducimus praesentium quae dolorum numquam.</p>
	</div>

</div>


```

*/

/*doc
---
title: Without Block formatting context
name: d-no-block-format
category: Structure - Block format
---

```html_example

<div class="clearfix" style="max-width: 600px; border: 1px solid red;">

	<div class="float-left">
		<img src="http://placehold.it/250x150" alt="">
	</div>


	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore explicabo animi harum voluptatem saepe modi cum necessitatibus placeat aliquid? Quos cupiditate sit eaque harum nulla, modi aliquam consectetur facere, omnis, tempora optio, rem. Optio omnis voluptas dolores reprehenderit rerum dolor dolorem blanditiis adipisci, neque at illo modi tenetur quae earum facere fugiat aut accusantium. Inventore, error! Magni dolorem eum ullam accusantium, corporis voluptatum recusandae molestias nesciunt cum iste. Dolore dolores vel culpa obcaecati, deleniti soluta saepe ipsum repudiandae cum quod numquam quasi voluptatibus ut, iusto inventore id officia. Eos dicta delectus soluta doloremque ratione voluptas ducimus praesentium quae dolorum numquam.</p>
	</div>

</div>

```


*/
