/*doc
---
title: Description
name: a-description
category: Structure - Clearfix
---

Clearfix can be added to containers of floated elements to stop margins from collapsing and prevent following items from being taken out of the document flow.

*/

/*doc
---
title: Example
name: b-example
category: Structure - Clearfix
---

##With clearfix

```html_example

<div class="clearfix">

	<p style="float: left; background-color: red;">This is floated left</p>

	<p style="float: right; background-color: red;">This is floated right</p>

</div>

<p style="color: white; background-color: blue;">This is not floated</p>

```

*/

/*doc
---
title: Without clearfix
name: c-without
category: Structure - Clearfix
---

```html_example

<div>

	<p style="float: left; background-color: red;">This is floated left</p>

	<p style="float: right; background-color: red;">This is floated right</p>

</div>

<p style="color: white; background-color: blue;">This is not floated</p>

```

*/
