@import "site/utils/variables/variables";
@import "styleguide/styleguide-variables";
@import "framework/framework";
@import "site/site";

.cortana-body {
	height: auto;
}

.cortana-content {
	table {
		width: auto;
	}
}

@include form-horizontal;
@include responsive-media;

.video-player { // .video-player is the main content wrapper. You can use whatever wrapper you like
	@include responsive-media(16, 9); // This is the media ratio. You can also use absolute width and height
}

.soundcloud-player {
	@include responsive-media(2, 1);

	&.non-visual { /* for the older visual=false player type, with - artwork to the left - should probably have a min-height of 164px for very narrow layouts */
		@include responsive-media(4.5, 1);
	}
}

// Equal heights example
// Use !optional flag to allow mq-fallback to compile

.equal-heights .list-inner {
	border: 1px solid #f00;
}

.nav--stacked {
	@include nav-stacked;
}

.nav--full {
	@include nav-equal-width;
}

.nav--left {
	@include nav-left;
}

.nav--right {
	@include nav-right;
}

.nav--center {
	@include nav-center;
}

.tab-nav--hide-sub {
	@include respond(tab) {
		@include nav-hide-sub;
	}
}

@include accordion-structure;

.accordion-container {
	@extend %mb-16;
	border: 1px solid #f00;
}

// Use accordion inner if you want to use padding on the content, this will stop the padding being animated
.accordion-inner {
	padding: 20px;
}
