//==========================================================================
//	Block formatting contexts
//==========================================================================

@mixin block-format {
	display: block;
	overflow: hidden;
	float: none;
}

@mixin block-format-setup(
	$breakpoint-name: $breakpoint-name,
	$block-format-class-name: "block-format"
) {

	$block-format-class-name: _breakpoint-prepend($block-format-class-name, $breakpoint-name);

	.#{$block-format-class-name} {
		@include clearfix;
	}

	.#{$block-format-class-name}-left {
		float: left;
	}

	.#{$block-format-class-name}-right {
		float: right;
	}

	.#{$block-format-class-name}-fluid {
		@include block-format;
	}

}

@if $include-block-format == true {
	@include responsive-class-generator {
		@include block-format-setup($_bp-name);

	}
}
