//==========================================================================
//	Flag Object
//==========================================================================

/// Harry Roberts flag object 
/// ---
/// @group layout
/// ---
/// @author Harry Roberts
/// ---
/// @link http://csswizardry.com/2013/05/the-flag-object/
///
@mixin flag(
	$flag-padding: null,
	$flag-reverse: null,
	$breakpoint-name: $breakpoint-name,
	$flag-class-name: "flag"
) {

	$flag-class-name: _breakpoint-prepend($flag-class-name, $breakpoint-name);

	.#{$flag-class-name} {
		display: table;
		width: 100%;
	}

	.#{$flag-class-name}__image,
	.#{$flag-class-name}__body {
		display: table-cell;
		vertical-align: middle;

		.#{$flag-class-name}--top & {
			vertical-align: top;
		}

		.#{$flag-class-name}--bottom & {
			vertical-align: bottom;
		}
	}

	.#{$flag-class-name}__image {
		padding-right: $flag-padding;

		> img {
			display: block;
			max-width: none;
		}

		@if $flag-reverse == true {
			.#{$flag-class-name}--rev & {
				padding-right: 0;
				padding-left: $flag-padding;
			}
		}

	}

	.#{$flag-class-name}__body {
		width: 100%;
	}

}
