//==========================================================================
//	Grids
//==========================================================================

@mixin grid-container {
	@include clearfix;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	font-size: 0;
}

@mixin grid-item($font-size: $base-font-size) {
	@include font-size($font-size);
	width: 100%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.row,
.grid-container {
	@include grid-container;
}

.grid-item {
	@include grid-item;
}

.grid--reverse {
	direction: rtl;

	.grid-item {
		direction: ltr;
	}
}

.grid-item--middle {
	vertical-align: middle;
}

.grid-item--bottom {
	vertical-align: bottom;
}

.grid-inner {
	display: block;
}
