//==========================================================================
//	Grid gutters
//==========================================================================

// Gutters can be set by adding ".gutter-[width]" include the mixin in gutters.scss to add new gutters
//
// Grid gutters get applied to the grid-container element. This allows us to provide a negative margin-left to the grid-container, and the relevant padding to the .grid-item


// Store the gutters in a list that they can be looped through in a mixin

$grid-gutter-default: 16px !default; // Set a default to eliminate specificity conficts
$grid-gutters: () !default;
$grid-gutters-use-placeholder-class: false !default;
$gutter-class-name: "grid--gutter";
$gutter-class-type: if($grid-gutters-use-placeholder-class, unquote("%"), unquote("."));

@mixin grid-gutters($grid-gutter-spacing) {
	@include pxtorem("margin-left", -$grid-gutter-spacing);

	> .grid-item {
		@include pxtorem("padding-left", $grid-gutter-spacing);
	}
}

// Set a default grid gutter

.row,
.grid-container {
	@include grid-gutters($grid-gutter-default);
}

@each $gutter in $grid-gutters {
	#{str-hyphenate(#{$gutter-class-type + $gutter-class-name strip-units($gutter)})} {
		@include grid-gutters($gutter);
	}
}
