//==========================================================================
//	Push pull grids
//==========================================================================

/// You can add space to the right of your elements by pushing a grid item.
/// Calculates a percentage based on a number of columns and a context number of columns (x columns of y context)
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin push($width, $context) {
	margin-right: percentage($width / $context);
}

/// You can add space to the left of your elements by pulling a grid item.
/// Calculates a percentage based on a number of columns and a context number of columns (x columns of y context)
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin pull($width, $context) {
	margin-left: percentage($width / $context);
}
