//==========================================================================
//	Source order grids
//==========================================================================

/// You can change the visual order or a row by prefixing a grid item. This will add left to the positioning
/// Calculates a percentage based on a number of columns and a context number of columns (x columns of y context)
/// Grid items need to have their `position` set to `relative` for this to work
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin prefix($width, $context) {
	left: percentage($width / $context);
}

/// You can change the visual order or a row by suffixing a grid item. This will add right to the positioning
/// Calculates a percentage based on a number of columns and a context number of columns (x columns of y context)
/// Grid items need to have their `position` set to `relative` for this to work
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin suffix($width, $context) {
	right: percentage($width / $context);
}
