//===========================================================================
//	Setup Type defaults
//===========================================================================

$heading-font-weight: 400 !default;

%_heading-stack {
	@if ($heading-font-stack != $default-font-stack) {
		font-family: $heading-font-stack;
	}

	font-weight: $heading-font-weight;
}

.heading-stack {
	@extend %_heading-stack;
}

.default-stack {
	font-family: $default-font-stack;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

// Responsive headings

@each $breakpoint, $heading-map in $headings {

	@include responsive-conditions($breakpoint) {

		@each $heading, $properties in $heading-map {

			$font-size: map-get($properties, "font-size");
			$line-height: map-get($properties, "line-height");

			#{$heading},
			.like#{$heading} {
				@include font-size($font-size, $line-height);
			}
		}
	}
}
