//==========================================================================
//	Generate responsive pseudo elements for JS to be able to access
//==========================================================================

body::before {
	display: none;
	content: sassToJs($mq-breakpoints); /* stylelint-disable-line function-name-case */
}

@include responsive-class-generator(false) {

	body::before {
		font-family: "#{$_bp-name}";
	}

}
