//==========================================================================
//	Font face
//==========================================================================

// Add you web fonts here. This uses the bulletproof syntax
//
// =============
// Note
// =============
//
// If you are using the same font name but with different properties,
// such as italic, bold etc. Keep the font name the same and modify the
// property in the font-face include instead.
//
// There is also a compass mixin for this but it's hard to read
//
// =============
// Usage Example
// =============
//
//	@font-face {
//		font-family: 'FontName';
//		src: url('FileName.eot');
//		src: url('FileName.eot?#iefix') format('embedded-opentype'),
//			 url('FileName.woff') format('woff'),
//			 url('FileName.ttf') format('truetype'),
//			 url('FileName.svg#FontName') format('svg');
//		font-style: normal;
//		font-weight: normal;
//	}
