//==========================================================================
//  Accordion
//==========================================================================

/// Styles to structure the accordion module in the javascript core
/// ---
/// @group components
///
@mixin accordion-structure {

	.accordion__item {
		@include clearfix;
	}

	// Reset the button
	.accordion__button {
		background: transparent;
		display: block;
		width: 100%;
		text-align: left;
		margin: 0;
		padding: 0;
		border: 0;
	}
}
