//==========================================================================
//	Buttons (structure)
//==========================================================================

$btn-disabled-opacity: 0.5 !default;
$btn-small-default-padding: 0.5em !default;
$btn-large-default-padding: 1.5em !default;

.btn {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	font-size: 100%;
	padding: 1em;
	color: inherit;
	font-family: inherit;
	background: none;
}

// Full width button

@mixin btn--full {
	width: 100%;
	text-align: center;
}

// mixin for button hover state

@mixin btn-bg($bg, $bg-hover: null) {
	background-color: $bg;
	transition: background-color 0.3s ease;

	@if $bg-hover == null {

		&:hover {
			background-color: darken($bg, 10%);
		}

	} @else {

		&:hover {
			background-color: $bg-hover;
		}
	}
}

// Button sizes -- Modifies the internal spacing. Font size remains what it was previously set at.

.btn--small {
	padding: $btn-small-default-padding;
}

.btn--large {
	padding: $btn-large-default-padding;
}

button[disabled] {
	&,
	&:hover,
	&:active,
	&:focus {
		opacity: $btn-disabled-opacity;
		cursor: default;
	}
}
