//===========================================================================
//	Image layout helpers
//===========================================================================

img {
	max-width: 100%;
	height: auto;

	// Reset max-width for google maps.

	.gm-style & {
		max-width: none;
	}

}

// Fixed sized images if you specify the width and height attribute.
// Some projects may require this to be commented / extra classes considered.
img[width],
img[height] {
	width: auto;
	max-width: none;
}

.img--stretch {
	width: 100%;
	height: auto;
}
