//===========================================================================
//	Lists
//===========================================================================

/// Removes bullets/numbers and any spacing around unordered and ordered lists
/// @group components
///
@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-reset {
	@include list-reset;
}

.dl-reset {
	dd {
		margin-left: 0;
	}
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}
