//==========================================================================
//  Icons
//==========================================================================

// Set a class on an empty element to display your sprited icon. Mixin also includes support for retina (only if required).
//
// =============
//	Usage Example
// =============
//
// .icon--[name-of-icon] {
// 	@include use-sprite(name-of-image, sprite-image-folder, retina: (true/false);
// }
//
// =============
//	Markup Example
// =============
//
// <a href="#">Link text here <i class="icon icon--[name-of-icon]"></i></a>
// Icons can be placed anywhere they need to be. You can also modify icon with icon--block.

%icon {
	display: inline-block;
}

%icon--block {
	display: block;
}
