//===========================================================================
//	Class name modifier
//===========================================================================

/// Function to make it easier to append a width defined breakpoint name name to a mixin
/// Eg `[breakpoint-name]-[class name]` if there is no media requirement it will just output `[class-name]`
/// ---
/// @access private
/// ---
/// @group utils
/// ---
/// @param {string} $class-name - Name of class for the component
/// @param {string} $breakpoint-name [$breakpoint-name] - Name of the breakpoint to append to the class name
/// ---
/// @return {string} Either the class name on its own or class name with the breakpoint name appended
///
@function _breakpoint-append($class-name, $breakpoint-name: $breakpoint-name) {
	// fix for libsass treating null as white space and adding an extra hyphen
	@if $breakpoint-name == null {
		@return $class-name;
	} @else {
		@return str-hyphenate(#{$class-name $breakpoint-name});
	}
}

/// Function to make it easier to prepend a width defined breakpoint name name to a mixin
/// Eg `[breakpoint-name]-[class name]` if there is no media requirement it will just output `[class-name]`
/// ---
/// @access private
/// ---
/// @group utils
/// ---
/// @param {string} $class-name - Name of class for the component
/// @param {string} $breakpoint-name [$breakpoint-name] - Name of the breakpoint to prepend to the class name
/// ---
/// @return {string} Either the class name on its own or class name with the breakpoint name prepended
///
@function _breakpoint-prepend($class-name, $breakpoint-name: $breakpoint-name) {
	// fix for libsass treating null as white space and adding an extra hyphen
	@if $breakpoint-name == null {
		@return $class-name;
	} @else {
		@return str-hyphenate(#{$breakpoint-name $class-name});
	}
}
