//===========================================================================
//	Simple colour functions
//===========================================================================
// =============
// Usage Example
// =============
//
// background-color: alpha-color(rgba(#f00, 0.6));
// 
// Second parameter determines what colour is behind the colour being modified

/// Convert rgba value to solid colour so it can be supported by IE8
/// ---
/// @param {color} $color - foreground colour to mix with `$background`
/// @param {color} $background [#fff] - background colour
/// ---
/// @return {color}
/// ---
/// @group utils
///
@function alpha-color($color, $background: #fff) {
	$percentage: alpha($color) * 100%;
	$opaque: opacify($color, 1);

	@return mix($opaque, $background, $percentage);
}

/// Slightly lighten a colour
/// ---
/// @param {color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// ---
/// @return {color}
/// ---
/// @author Hugo Giraudel
/// ---
/// @link http://sass-guidelin.es/#lightening-and-darkening-colors
/// ---
/// @group utils
///
@function tint($color, $percentage) {
	@return mix(#fff, $color, $percentage);
}

/// Slightly darken a colour
/// ---
/// @param {color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// ---
/// @return {color}
/// ---
/// @author Hugo Giraudel
/// ---
/// @link http://sass-guidelin.es/#lightening-and-darkening-colors
/// ---
/// @group utils
///
@function shade($color, $percentage) {
	@return mix(#000, $color, $percentage);
}
