//===========================================================================
//	Get value from map
//===========================================================================

/// Function to make colour theming as simple and manageable as possible
/// ---
/// @access public
/// ---
/// @group utils
/// ---
/// @param {string} $key - Colour name from colours map
/// @param {string} $colors [$colors] - Name of the colours map
/// ---
/// @return {string} Colour value
///
@function get-color($key, $colors: $colors) {

	@if not map-has-key($colors, $key) {
		@warn "get-color key #{$key} doesn't match any specified in $colors map";
	}

	@return map-get($colors, $key);
}

/// Function to make get font-size from sass map
/// ---
/// @access public
/// ---
/// @group utils
/// ---
/// @param {string} $key - heading property (h1 - h6)
/// @param {string} $breakpoint [$breakpoint-default] - Name of the breakpoint
/// ---
/// @return {number} Font size
///
@function get-font-size($key, $breakpoint: $breakpoint-default) {

	@if not map-has-nested-keys($headings, $breakpoint, $key) {
		@warn "get-font-size key #{$key} doesn't match any specified in $headings map";
	}

	$heading: map-deep-get($headings, $breakpoint, $key);
	$font-size: map-get($heading, "font-size");

	@return $font-size;

}

/// Function to make get line-height from sass map
/// ---
/// @access public
/// ---
/// @group utils
/// ---
/// @param {string} $key - heading property (h1 - h6)
/// @param {string} $breakpoint [$breakpoint-default] - Name of the breakpoint
/// ---
/// @return {number} Line height
///
@function get-line-height($key, $breakpoint: $breakpoint-default) {

	@if not map-has-nested-keys($headings, $breakpoint, $key) {
		@warn "get-line-height key #{$key} doesn't match any specified in $headings map";
	}

	$heading: map-deep-get($headings, $breakpoint, $key);
	$line-height: map-get($heading, "line-height");

	@return $line-height;

}
