//===========================================================================
//	Simple mathematic functions
//===========================================================================

/// Double a number
/// ---
/// @param {number} $number
/// ---
/// @example scss
///   double(42);
///   // 84
/// ---
/// @return {number}
/// ---
/// @group utils
///
@function double($number) {
	@return ($number * 2);
}

/// Multiply a number by 3
/// ---
/// @param {number} $number
/// ---
/// @example scss
///   triple(33);
///   // 99
/// ---
/// @return {number}
/// ---
/// @group utils
///
@function triple($number) {
	@return ($number * 3);
}

/// Multiply a number by 4
/// ---
/// @param {number} $number
/// ---
/// @example scss
///   triple(25);
///   // 100
/// ---
/// @return {number}
/// ---
/// @group utils
///
@function quadruple($number) {
	@return ($number * 4);
}

/// Halve a number
/// ---
/// @param {number} $number
/// ---
/// @example scss
///   half(42);
///   // 21
/// ---
/// @return {number}
/// ---
/// @group utils
///
@function half($number) {
	@return ($number / 2);
}

/// Divide a number by three
/// ---
/// @param {number} $number
/// ---
/// @example scss
///   third(33);
///   // 11
/// ---
/// @return {number}
/// ---
/// @group utils
///
@function third($number) {
	@return ($number / 3);
}

/// Divide a number by four
/// ---
/// @param {number} $number
/// ---
/// @example scss
///   quarter(40);
///   // 10
/// ---
/// @return {number}
/// ---
/// @group utils
///
@function quarter($number) {
	@return ($number / 4);
}
