//===========================================================================
//	Helpers for asset paths
//===========================================================================

/// Helper to image path, so it can be used with img-url function
/// @group utils
$image-path: "../images/" !default;

/// Helper to font path, so it can be used with font-url function
/// @group utils
$font-path: "../fonts/" !default;

/// Helper for image paths, to prevent the need for manually writing full paths, also easier to change a single
/// variable and recompile if images move
/// ---
/// @group utils
/// ---
/// @param {string} $image-name
/// ---
/// @return {string} - Full image path
///
@function img-url($image-name) {
	@return url($image-path + $image-name);
}

/// @alias img-url
@function image-url($image-name) {
	@return img-url($image-name);
}

/// Helper for font paths, to prevent the need for manually writing full paths, also easier to change a single
/// variable and recompile if fonts move
/// ---
/// @group utils
/// ---
/// @param {string} $font-name
/// ---
/// @return {string} - Full font path
///
@function font-url($font-name) {
	@return url($font-path + $font-name);
}
