//==========================================================================
// Deprecated class names
//==========================================================================

// Sometimes we want to change the name of things, to do this we also need to communicate a way to developers about things in the framework changing.

@mixin deprecated-class {
	@each $deprecated-name, $new-name in $deprecated-classes {
		.#{$deprecated-name} {
			&::before {
				content: "'#{$deprecated-name}' is deprecated. Please use '#{$new-name}' instead";
				display: block;
				font-size: 50px;
				color: #000;
			}
		}
	}
}

@if $environment == "development" {
	@include deprecated-class;
}
