//===========================================================================
//	Hide content
//===========================================================================

/// Mixin to hide content. Helpers such as hide, hide-desk etc also use this mixin.
/// ---
/// @group utils
/// ---
/// @param {string | null} $breakpoint-name [$breakpoint-name] - Name of breakpoint when used to generate responsive class names
/// @param {string} $hide-class-name ["hide"] - Class name to use for hiding content
///
@mixin hide(
	$breakpoint-name: $breakpoint-name,
	$hide-class-name: "hide"
) {

	$hide-class-name: _breakpoint-append($hide-class-name, $breakpoint-name);

	.#{$hide-class-name} {
		display: none !important;
		visibility: hidden;
	}
}
