//==========================================================================
// Aliases for mixins
//==========================================================================

/// @alias mq
@mixin respond($args...) {
	@include mq($args...) {
		@content;
	}
}

/// Alias for svg2png mixin
/// ---
/// @group utils
/// ---
/// @alias svg2png
///
@mixin svg-to-png($args...) {
	@include svg2png($args...) {
		@content;
	}
}
