//==========================================================================
// Input placeholder text
//==========================================================================

@mixin placeholder {

	$prefixes: "::-webkit-input", "::-moz", ":-ms-input", ":-moz";

	@each $prefix in $prefixes {

		&#{$prefix}-placeholder {
			@content;
		}

	}
}
