//==========================================================================
// Responsive conditions
//==========================================================================

/// First breakpoint name in the list of breakpoint names
/// ---
/// @group utils
/// ---
/// @access private
///
$_mq-first: list-first($breakpoint-names);

/// Last breakpoint name in the list of breakpoint names
/// ---
/// @group utils
/// ---
/// @access private
///
$_mq-last: list-last($breakpoint-names);

/// A block of conditions to check how to set up responsively named media queries. Eg min-width and max-width.
/// ---
/// @access private
/// ---
/// @group utils
/// ---
/// @param {string} $breakpoint-name - Name of current breakpoint to test
/// @param {number} $i - Index of current breakpoint in `$mq-breakpoints` map
/// 
@mixin _responsive-conditions($breakpoint-name) {

	@if map-has-key($mq-breakpoints, $breakpoint-name) {

		$i: index($breakpoint-names, $breakpoint-name);
		$next-item: null;

		@if $breakpoint-name != $_mq-last {
			$next-item: nth($mq-breakpoints, $i + 1);
		}

		$next-name: nth($next-item, 1);

		@if $breakpoint-name == $_mq-first {
			@include respond($until: $next-name) {
				@content;
			}
		} @else if $breakpoint-name == $_mq-last {
			@include respond($breakpoint-name) {
				@content;
			}
		} @else {
			@include respond($breakpoint-name, $next-name) {
				@content;
			}
		}
	} @else if $breakpoint-name == $breakpoint-default {
		@content;
	} @else {
		@warn "`$mq-breakpoints` doesn't contain a breakpoint named #{$breakpoint-name}";
	}

}

@mixin responsive-conditions($breakpoint-name) {
	@include _responsive-conditions($breakpoint-name) {
		@content;
	}
}

/// Generate a responsive class name within media queries, that we can then use to include mixins with
/// ---
/// @group utils
/// ---
/// @param {string} $include-unprefixed [true] - Parameter to provide an option to create an unprefixed, media query free class.
///
@mixin responsive-class-generator($include-unprefixed: true) {

	@if $include-unprefixed {
		$_bp-name: null !global;
		@content;
	}

	@each $_bp-name in $breakpoint-names {

		$_bp-name: $_bp-name !global;

		@include _responsive-conditions($_bp-name) {
			@content;
		}
	}
}
