//==========================================================================
// Responsive media
//==========================================================================

/// Shared styles that are accessed by responsive-media mixin
/// ---
/// @group utils
/// ---
/// @access private
///
%_responsive-media-constants {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/// A mixin to make it possible for media such as iframes and videos to work across all screen sizes. Calculates a ratio and
/// uses padding to set the correct height based on the context of its width
/// ---
/// @param {number} $media-width [16] - Width of media
/// @param {number} $media-height [9] - Height of media 
/// @param {string} $media-class-name ["responsive-media-container"] - Class name used to wrap responsive media
///
@mixin responsive-media(
	$media-width: 16,
	$media-height: 9,
	$media-class-name: "responsive-media-container"
) {

	.#{$media-class-name} {
		position: relative;
		height: auto;
		display: block;
		padding-top: percentage($media-height / $media-width);
	}

	.responsive-media {
		@extend %_responsive-media-constants;
	}
}
