//==========================================================================
// Truncate text
//==========================================================================

/// Tool to truncate text
/// ---
/// @param {number | null} $width [null] - Optional width to apply to truncated text area
/// ---
/// @group utils
///
@mixin truncate($width: null) {
	width: $width;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
