//==========================================================================
//	Z-index map
//==========================================================================

@mixin get-z-index($key) {

	@if not map-has-key($z-index, $key) {
		@warn "get-z-index key #{$key} doesn't match any specified in $z-index map";
	}

	z-index: map-get($z-index, $key);
}
